@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/****************/
/* Flaticon CDN */
/****************/
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
body {
  height: 2000px;
  background: aliceblue;
  font-family: "Nunito", sans-serif;
}
h1 {
  color: rgba(90, 80, 89, 1) ;
}
p {
  color: rgba(185, 201, 247, 1) !important;
}

nav {
  width: 100%;
  height: 200px;
  background: linear-gradient(90deg, rgba(244, 89, 112, .7), rgba(244, 91, 167, .7)), url(assets/img/navbar-img.jpg);
  background-attachment: fixed;
  background-position: center;
}

form input {
  height: 19px !important;
  padding: 10px !important;
  outline: none;
  border: 1px solid rgba(244, 89, 112, .7);
  color: rgba(244, 89, 112, .7);
  font-family: "Nunito" sans-serif;
  border-radius: 5px 0 0 5px;
}

form button {
  border: none;
  outline: none;
  color: #fff;
  background: rgba(244, 89, 112, .7);
  padding: 12px !important;
  border-radius: 0 5px 5px 0;
  height: 41px !important;
}
.mt-2 {
  margin-top: 10px !important;
}
.my-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, .05), 0 15px 40px rgba(166, 173, 201, .2);
  padding: 25px;
}
.content {
  width: 100%;
  display: flex;
  margin-top: -45px;
  box-sizing: border-box;
}
.col-1 {
  padding: 5px;
  width: 30% !important;
}
.col-2 {
  padding: 5px;
  width: 70% !important;
}
.user-information {
  position: relative;
}
.user-information .user-img img{
  width: 80px !important;
  border-radius: 50%;
  top: 0;
  left: 11%;
  background: #fff;
  padding: 4px;
  margin-top: -40px !important;
  position: absolute;
}
.user-information .user-name {
  padding-top: 25px;
  color: rgba(244, 89, 112, .7);
}
.user-information .user-bio {
  color: rgba(185, 201, 247, 1);
  font-size: 12px;
}
.user-information ul {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  text-align: center;
}
.user-information ul li {
  list-style: none;
  margin: 10px;
  width: 50%;
}
.user-information ul li p {
  text-transform: uppercase;
}
.user-information ul li h4 {
  color: rgba(244, 89, 112, .7);
  font-size: 25px;
}

.content-book {
  display: flex;
  box-sizing: border-box !important;
  justify-content: space-between;
}

.unread, .read {
  box-sizing: border-box;
  width: 49.3%;
}
.read h4,
.unread h4 {
  text-align: center;
  margin-top: 15px;
}
.read .my-container ,
.unread .my-container  {
  display: flex;
  margin-top: 10px;
  padding: 5px;
  align-items: center;
  box-sizing: border-box !important;
  justify-content: space-around;
}
.image-book {
  overflow: hidden;
  text-align: center;
  position: relative;
  background: transparent;
  width: 130px;
  border-radius: 11px;
  box-sizing: border-box;
  margin: 10px;
  height: 100px !important;
}
.image-book img {
  box-sizing: border-box;
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  box-sizing: border-box;
  transition: .3s ease;
}
  
.image-book img:hover {
  transform: scale(1.1) rotate(3deg);
}
.detail-book {
  width: 53% !important; 
  padding: 5px;
}
  
  
.icons {
  display: flex;
  margin-top: 10px;
  box-sizing: border-box !important;
}
.icons > .my-icon {
  box-sizing: border-box !important;
  color: rgba(90, 80, 89, 1);
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: calc(99% / 3) !important;
}
.add-book, .read-icon, .unread-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 20px;
  margin-bottom: 1rem;
  color: aliceblue;
  border-radius: 50%;
  transition-property: color;
  transition: .5s ease-out;
  background: linear-gradient(90deg, rgba(244, 89, 112, .7), rgba(244, 91, 167));
}
.read-icon {
  background: linear-gradient(90deg, rgba(31, 213, 162, 1), rgba(48, 213, 260, 1));
  transition: .5s ease;
  opacity: .7;
}
.read-icon:hover,
.unread-icon:hover,
.add-book:hover{
  opacity: 1;
  transform: rotate(360deg);
}
.unread-icon {
  background: linear-gradient(90deg, rgba(255, 173, 26), rgba(253, 132, 69));
  opacity: .7;
}
#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(203, 209, 243, 0.7);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: none;
  transition: 1s all !important;
  transition-property: color !important;
  justify-content: center;
  align-items: center;
}
.modal-open {
  transition: 1s all !important;
  transition-property: color !important;
  display: flex !important;
}
#form input {
  width: 90% !important;
  border-radius: 10px !important;
  margin: 12px 0 !important;
  background: transparent !important;
}
#form .close {
  border: none;
  outline: none;
  color: #fff;
  background: rgba(244, 89, 112, .7);
  padding: 12px !important;
  border-radius: 5px 0 0 5px;
  height: 41px !important;
  text-decoration: none;
}

.read-button {
  font-family: uicons-regular-rounded !important;
  content: '\f10b' !important;
  padding: 10px;
  background: linear-gradient(170deg, rgba(31, 213, 162, 1), rgba(48, 213, 260, 1));
  border-radius: 50%;
  border: none;
  outline: none;
  width: 10%;
  margin: 10px 0 10px 10px;
  box-sizing: border-box;
  color: white;
  transition-property: color;
  transition: .5s ease-out;
  opacity: .9;
}
.read-button:before {
    content: '\f12f';
}


.unread-button {
  font-family: uicons-regular-rounded !important;
  content: '\f131' !important;
  padding: 10px;
  background: linear-gradient(170deg, rgba(255, 173, 26), rgba(253, 132, 69));
  border-radius: 50%;
  transition-property: color;
  transition: .5s ease-out;
  border: none;
  outline: none;
  width: 10%;
  margin: 10px 0 10px 10px ;
  box-sizing: border-box;
  color: white;
  opacity: .9;
  
}
.unread-button:before {
    content: '\f131';
}


.trash-book {
  font-family: uicons-regular-rounded !important;
  content: '\f24a' !important;
  padding: 10px;
  transition-property: color;
  transition: .5s ease-out;
  background: linear-gradient(170deg, #f97794, #623AA2);
  border-radius: 50%;
  border: none;
  outline: none;
  width: 10%;
  margin: 10px;
  box-sizing: border-box;
  color: white;
  opacity: .9;
}
.trash-book:before {
    content: '\f24a';
}
.read-button:hover,
.unread-button:hover,
.trash-book:hover {
  opacity: 1;
  transform: rotate(-360deg);
}

@media screen and (max-width: 576px) {
  .content,
  .content-book {
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .unread, 
  .read {
    box-sizing: border-box !important;
    width: 100% !important;
  }

}
@media screen and (max-width: 768px) {
  .content,
  .content-book {
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .unread, 
  .read {
    box-sizing: border-box !important;
    width: 100% !important;
  }

}